.cardwrapper {
	@apply text-sm shadow-xl dark:shadow-white rounded-xl transition-transform overflow-hidden;
}

.cardcontent {
	@apply relative flex-col text-white p-4 bg-gradient-to-b from-transparent via-black/80 to-black;
}

@media (min-width: theme('screens.lg')) {
	.cardcontent {
		transform: translateY(40%);
		transition: transform 400ms ease;
		transition-delay: 100ms;
	}

	.cardwrapper:hover .cardcontent {
		transform: translateY(0);
	}
}

.cardtitle {
	@apply relative z-10 font-bold text-base;
}

@media (min-width: theme('screens.lg')) {
	.cardtitle::after {
		content: '';
		position: absolute;
		top: -0.25rem;
		bottom: -0.25rem;
		left: -1rem;
		width: calc(100% + 2rem);
		background: theme('colors.amber.600');
		z-index: -1;

		transform: scaleX(0.04);
		transform-origin: left;
		transition: transform 150ms ease-in;
	}
}

.cardwrapper:hover .cardtitle::after {
	transform: scaleX(1);
}

.cardtitle::after {
	content: '';
	position: absolute;
	top: -0.25rem;
	bottom: -0.25rem;
	left: -1rem;
	width: calc(100% + 2rem);
	background: theme('colors.amber.600');
	opacity: 1;
	z-index: -1;
}

.carddetail {
	position: relative;
}

.carddetail::after {
	content: '';
	position: absolute;
}
