@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	blockquote {
		@apply border-l-4 border-l-sky-500/80 ml-1 my-8 px-4;
	}
}

html {
	font-size: 14px;
	font-family: 'Inter' 'Noto Sans KR';
	scroll-behavior: smooth;
	height: 100%;
}

@font-face {
	font-family: 'Noto Sans KR';
	unicode-range: U+AC00-D7A3;
}

@font-face {
	font-family: 'Inter';
	unicode-range: U+0000-007F;
}

body {
	height: 100%;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */

	&::-webkit-scrollbar {
		display: none;
	}

	@apply list-none bg-white text-gray-700 dark:bg-gray-900 dark:text-gray-200 antialiased h-full transition-colors duration-200;
}

::selection {
	@apply text-white bg-sky-700;
}

.gradient-text {
	background: linear-gradient(
		-45deg,
		theme('colors.sky.500'),
		theme('colors.sky.500'),
		theme('colors.amber.500'),
		theme('colors.amber.500')
	);
	background-size: 300%;
	text-transform: uppercase;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 5s ease-in-out infinite;
	-moz-animation: animated_text 5s ease-in-out infinite;
	-webkit-animation: animated_text 5s ease-in-out infinite;
}

@keyframes animated_text {
	0% {
		background-position: 0px 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0px 50%;
	}
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
	transition: background-color 600000s 0s, color 600000s 0s;
}
