@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 14px;
	font-family: 'Inter' 'Noto Sans KR';
	scroll-behavior: smooth;
	height: 100%;
	@apply text-gray-500 dark:text-gray-100 list-none;
}

@font-face {
	font-family: 'Noto Sans KR';
	unicode-range: U+AC00-D7A3;
}

@font-face {
	font-family: 'Inter';
	unicode-range: U+0000-007F;
}

body {
	height: 100%;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */

	&::-webkit-scrollbar {
		display: none;
	}

	@apply bg-white text-black dark:bg-gray-800 dark:text-white antialiased h-full transition-colors duration-300;
}

::selection {
	@apply text-white bg-gray-500;
}

ul {
	margin-bottom: theme('spacing.8');
}

.react-icons {
	vertical-align: middle;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
	transition: background-color 600000s 0s, color 600000s 0s;
}
