article {
	--border-radius: theme('borderRadius.none');
	--font-weight: theme('fontWeight.semibold');
	--font-size: theme('fontSize.base');
	--code-block-color: theme('colors.red[500]');
	--foreground-color: theme('colors.black');
	--background-color: theme('colors.gray[200]');
	--title-bg: theme('colors.gray[200]');
	--scroll-track: theme('colors.gray[300]');

	--comment: theme('colors.gray[400]');
	--string: theme('colors.cyan[900]');
	--property: theme('colors.cyan[800]');
	--literal: theme('colors.sky[500]');
	--keyword: theme('colors.sky[700]');
	--parameter: theme('colors.yellow[900]');
	--punctuation: theme('colors.gray[600]');
	--class: theme('colors.teal[900]');
	--function: theme('colors.red[600]');
	--namespace: theme('colors.cyan[700]');
	--number: #1c6b48;
	--boolean: #1c6b48;
	--variable: #c2b36e;
	--deleted: #a14f55;
	--builtin: #e0a569;
	--decorator: #bd8f8f;
	--regex: #ab5e3f;
	--json-property: #6b8b9e;
	--line-number: #888888;
	--line-number-gutter: #eeeeee;
	--line-highlight-background: #444444;
}

html.dark article {
	--foreground-color: theme('colors.white');
	--background-color: theme('colors.gray[700]');
	--title-bg: theme('colors.gray[600]');
	--code-block-color: theme('colors.red[500]');
	--scroll-track: theme('colors.gray[500]');
	--comment: theme('colors.gray[400]');
	--string: theme('colors.amber[200]');
	--property: theme('colors.cyan[400]');
	--literal: theme('colors.sky[500]');
	--keyword: theme('colors.sky[400]');
	--parameter: theme('colors.yellow[500]');
	--punctuation: theme('colors.white');
	--class: theme('colors.teal[300]');
	--function: theme('colors.red[400]');
	--namespace: theme('colors.cyan[200]');
	--number: #1c6b48;
	--boolean: #1c6b48;
	--variable: #c2b36e;
	--deleted: #a14f55;
	--builtin: #e0a569;
	--decorator: #bd8f8f;
	--regex: #ab5e3f;
	--json-property: #6b8b9e;
	--line-number: #888888;
	--line-number-gutter: #eeeeee;
	--line-highlight-background: #444444;
}

/* Code Section (pre, code) */

:not(pre) > code {
	@apply rounded-lg px-1 py-1 mx-2 font-semibold dark:text-sky-500 dark:bg-gray-800;
}

code[class*='language-'],
pre[class*='language-'] {
	font-family: 'JetBrains Mono';
	font-weight: var(--font-weight);

	color: var(--foreground-color);
	background-color: transparent;

	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	box-shadow: theme('boxShadow.xl');

	-moz-tab-size: 6;
	-o-tab-size: 6;
	tab-size: 6;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

	@apply text-sm md:text-sm;
}

pre[class*='language-'] {
	padding: 1.5em;
	margin: 0 0 2em 0;

	/* Scrollbars */
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		display: none;
		height: 0.5em;
	}
	@apply border-gray-200 dark:border-gray-600 border-2;
}

.rehype-code-title {
	background-color: var(--title-bg);
	color: var(--foreground-color);
	font-weight: theme('fontWeight.semibold');
	font-family: theme('fontFamily.mono');
	font-size: theme('fontSize.base');
	text-align: left;
	border-top-left-radius: theme('borderRadius.xl');
	border-top-right-radius: theme('borderRadius.xl');
	padding: theme('spacing.2') 0 theme('spacing.1') theme('spacing.6');

	+ pre[class*='language-'] {
		border-top-left-radius: theme('borderRadius.none');
		border-top-right-radius: theme('borderRadius.none');
		border-bottom-left-radius: theme('borderRadius.2xl');
		border-bottom-right-radius: theme('borderRadius.2xl');
	}
}

:not(.rehype-code-title) + pre[class*='language-'] {
	border-radius: theme('borderRadius.2xl');
	@apply border-gray-200 dark:border-gray-600 border-2;
}

.code-line {
	display: block;
	padding-left: 16px;
	padding-right: 16px;
	margin-left: -16px;
	margin-right: -16px;
	border-left-width: 4px;
	border-left-color: rgba(31, 41, 55, 0); /* Set code block color */
	&:hover {
		background: rgba(55, 130, 255, 0.1);
	}
}

.code-line.inserted {
	background-color: rgba(16, 185, 129, 0.2); /* Set inserted line (+) color */
}

.code-line.deleted {
	background-color: rgba(239, 68, 68, 0.2); /* Set deleted line (-) color */
}

.highlight-line {
	background-color: rgba(55, 130, 255, 0.2);
	border-left-width: 4px;
	border-left-color: rgb(59, 130, 246);
}

.line-number::before {
	display: inline-block;
	width: 1rem;
	text-align: right;
	margin-right: 16px;
	margin-left: -8px;
	color: rgba(156, 163, 175, 0.8); /* Line number color */
	content: attr(line);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--comment);
}

.token.punctuation {
	color: var(--punctuation);
}

.token.parameter {
	color: var(--parameter);
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
	color: var(--property);
}

.token.namespace {
	color: var(--namespace);
}

.token.selector,
.token.attr-name,
.token.builtin {
	color: var(--builtin);
}

.token.string,
.token.char {
	color: var(--string);
}

.token.operator,
.token.entity,
.token.url,
.language-css,
.style {
	color: var(--punctuation);
	background: transparent;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: var(--keyword);
}

.token.class-name {
	color: var(--class);
}

.token.function {
	color: var(--function);
}

.token.regex,
.token.important,
.token.variable {
	color: var(--regex);
}
