@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 14px;
    font-family: Inter;
    scroll-behavior: smooth;
    height: 100%;
    @apply text-gray-600 dark:text-gray-100;
}

body {
    height: 100%;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

@layer base {
    ::selection {
        @apply text-selectedtext bg-gray-500;
    }

    .wrapper {
        min-height: 100%;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s,
        color 600000s 0s;
}
